@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
body {
  margin: 0px;
  padding: 0px;
  /* color: aliceblue; */
  font-family: Inter;
  background-color: #3f3434;
}

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  max-width: 1640px;
  margin: 0 auto;
  height: 100%;
}
main {
  /* visibility: hidden; */
  background: rgb(0, 0, 0);
}

.nav {
  max-width: 1060px;
  margin: 0 auto;
  /* border: 1px solid red; */
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}
.icon {
  display: none;
}
.nav-title {
  color: #e6533c;
  font-weight: 700;
  font-size: 1.6rem;
}

.home {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.red {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
  color: aliceblue;

}

.black-btn {
  /* background-color: #E6533C; */
  background-color: #171717;
  border-radius: 50px;
  padding: 15px;
  color: aliceblue;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 30px;
  /* padding: 10px ; */
  border: 0.5px solid rgb(45, 44, 44);
  border-radius: 40px;
  align-items: center;
  padding-right: 20px;
}
.banner {
  width: 1060px;
  margin: 0 auto;
  color: aliceblue;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 150px;
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  max-width: 100%;
}
.title {
  /* border: 1px solid red; */
  /* padding: 200px; */
  font-weight: 900;
  font-size: 5rem;
  line-height: 120%;
  letter-spacing: 0%;
}
.title-habit {
  /* border: 1px solid red; */
  /* padding: 200px; */
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);

}
.shape {
  font-family: Miama;
}
.banner-left {
  width: 500px;
}
.shape {
  font-weight: 500;
}
.workout-vedio {
  border: 1px solid green;
  /* border-radius: 20px; */
  width: 50%;
  padding: 10px;
  position: relative;
  background-color: #453e3e;
  margin-top: -440px;
  margin-left: 260px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.relative {
  position: absolute;
}

.border-radious {
  /* position: absolute; */
  width: 40px;
  height: 40px;
  left: 787px;
  top: 584px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.tutorial {
  /* border: 1px solid; */
  position: relative;
  background-color: #453e3e;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 190px;
  margin-left: -120px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.number {
  font-size: 2rem;
  font-weight: 700;
}
main {
  text-align: center;
  padding: 60px;
}
.habit-images {
  display: flex;
}
.habit-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
}
.habit-description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}
.img {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}
.run {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
  margin-top: 30px;
  /* background-color: #453e3e; */
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.mile{
  margin-left: 30px;
  /* text-align: left; */
}
.size-img {
  width: 50%;
  padding: 10px;
  border-radius: 18px;
}
.bmi-cal {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid rgb(109, 106, 106);
  padding: 5px 10px;
  text-align: center;
  color: #918383;
}
th{
  color:aliceblue;
}
input {
  background-color: #383837;
  border-style: double;
  margin: 5px;
  padding: 10px;
  width: 40%;
  border-radius: 10px;
}
.big {
  width: 85%;
}
.chart{
  display: block;
}
.chart-2{
  display: none;
}
.team {
  width: 1040px;
  margin: 0 auto;
  border-radius: 18px;
}
.team-img {
  display: grid;
  background: rgba(255, 255, 255, 0.1);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
  /* position: absolute; */
}
.under{
  position: relative;
  margin-top:-90px;
  text-align: left;
  margin-left: 10px;
}
img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  gap: 10px;
}
footer {
  background-color: #222222;
  padding: 20px;
}
.footer-container {
  /* background-color: #453e3e; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
ol {
  list-style: none;
}
li{
  color: rgba(255, 255, 255, 0.5);
}
footer > p {
  text-align: center;
}
@media screen and (max-width: 576px) {
  .nav-items {
    display: none;
  }
  .icon {
    display: block;
  }
  .nav {
    padding: 20px;
  }
  .banner {
    width: 352px;
    margin: auto;
    flex-direction: column;
    gap: 0px;
  }
  .title {
    /* border: 1px solid red; */
    font-weight: 900;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .banner-left {
    max-width: 342px;
  }
  .banner-right {
    padding: 50px;
  }
  .banner-description {
    max-width: 80%;
  }
  .workout-vedio {
    margin-top: 10px;
  }
  .workout-vedio {
    margin-top: -330px;
    margin-left: 150px;
  }
  .tutorial {
    margin-top: 30px;
    margin-left: -60px;
  }
  .habit-images, .bmi-cal  {
    flex-direction: column;
  }
  .footer-container  {
    flex-direction: column;
    gap:10px;
  }
  .run{
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
  }
  .size-img{
    width: 90%;
  }
  .team{
    width: 100%;
  }
  .team-img{
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
  /* width: 100%; */
  }
  .chart{
    display: none;
  }
  .chart-2{
    display: block;
  }
}
